<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Imported Rule 4" />
                <remove name="Imported Rule 3" />
                <remove name="Imported Rule 2" />
                <remove name="Imported Rule 1" />
                <remove name="Rewrite requests to test.php" />
                <remove name="Redirect static resources" />
                <rule name="Redirect static resources" enabled="false" stopProcessing="true">
                    <match url="^(ico|img|css|files|js)(.*)$" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="app/webroot/{R:1}{R:2}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite requests to test.php" enabled="false" stopProcessing="true">
                    <match url="^test.php(.*)$" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="app/webroot/test.php{R:1}" />
                </rule>
                <rule name="Imported Rule 1" enabled="false" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" enabled="false" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="Imported Rule 3" enabled="false" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="/{R:1}" />
                </rule>
                <rule name="Imported Rule 4" enabled="false" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
